html,
body {
  margin: 0;
  height: 100%;
  background: #111;
  color: #eee;
  font-family: system-ui;
  overflow: hidden;
}
h1 {
  text-align: center;
  margin: 12px 0;
}
canvas {
  display: block;
  width: 100%;
  height: calc(100% - 60px);
}
